@import url("https://fonts.googleapis.com/css2?family=Lato:wght@400;700;900&display=swap");

body {
  font-family: Lato, sans-serif;
}
.wrapper {
  /* overflow: hidden; */
  position: relative;
  min-height: 100%;
}

[class*="__container"] {
  max-width: 1230px;
  margin: 0px auto;
}

/*----------header----------*/

.header {
  position: fixed;
  width: 100%;
  left: 0;
  top: 0;
  z-index: 105;
  background: #eccb45;
}

.header__text {
  padding: 30px;
  font-size: 30px;
  font-weight: 700;
  color: rgb(0, 0, 0);
  text-align: center;
  text-transform: uppercase;
}

/*----------main----------*/

.main__container {
  padding: 150px 0;
}

.task-block {
  border: 5px solid #ffffff;
  max-width: 800px;
  height: 455px;
  margin: 0px auto;
  position: relative;
  padding: 20px;
}

.task-block div {
  text-align: center;
  font-size: 18px;
  text-align: center;
  line-height: 50px;
  font-weight: 700;
}

.task-block__0 {
  background-color: #d5d5d5;
}

.task-block__1 {
  background-color: #b7b7b7;
}

.task-block__2 {
  background-color: #d5d5d5;
}

.task-block__3 {
  background-color: #d5d5d5;
}

.task-block__4 {
  background-color: #d5d5d5;
}

.task-block__5 {
  background-color: #d5d5d5;
}

.task-block__6 {
  background-color: #d5d5d5;
}

.task-block__7 {
  background-color: #d5d5d5;
}

/*----------footer----------*/

.footer {
  position: fixed;
  width: 100%;
  background: #eccb45;
  bottom: 0;
}

.footer__text {
  padding: 20px;
  font-size: 20px;
  font-weight: 700;
  color: rgb(0, 0, 0);
  text-align: center;
}
